<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/login?lang=vn">VN</a>
<a href="/login?lang=en">EN</a>
<h1 th:text="#{k12.message01}"></h1>
<h1 th:text="#{k12.message02}"></h1>
<form method="post" action="/login" >
    <h1>Dang Nhap</h1>
    <label>username</label>
    <input name="username" id="username"  type="text"><br><br>
    <label>password</label>
    <input name="password" id="password" type="password"><br><br>

    <button class="btn btn-primary" style="text-align: center" type="submit" >dang Nhap </button>
</form>
</body>
</html>